.nav-bar {
	padding: 1rem;
	background-color: darkblue;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	height: 60px;

	.header {
		color: aliceblue;
		text-transform: uppercase;

		span {
			color: red;
		}
	}
}
